/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

body {
  padding-bottom: 20px;
  margin-bottom: 60px;
}

h1, h2, h3, h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

p {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.navbar {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.navbar-brand {
  color: #8ff9f6  !important;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #0abab5  !important;
  font-weight: bold;
}

.fa-github-square {
    font-size: 1.75em;
    color: lightgrey;
}

.fa-github-square:hover {
    color: white;
}

.fa-sign-in-alt {
  font-size: 1.5em;
  color: lightgrey;
}

.fa-sign-in-alt:hover {
  color: white;
}

.fa-sign-out-alt {
    font-size: 1.5rem;
    color: lightgrey;
}

.fa-sign-out-alt:hover {
    color: white;
}

.fa-shopping-cart {
  font-size: 1.25rem;
  color: lightgrey;
  padding-top: .25rem;
  padding-left: .5rem;
}

.fa-shopping-cart:hover {
  color: white;
}

.right {
    padding-right: 13px;
}


.form-group {
  margin-left: 20px;
  margin-right: 20px;
}

.star {
    font-size: 25px;
    color: gold;
    padding: 3px;
  }

.btn {
  background-color: #0abab5;
  border: #0abab5;
  color: white;
}

.btn:hover {
  opacity: 0.75;
  background-color: #0abab5;
  border: #0abab5;

}
