// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.empty-cart {
  padding-top: 8rem;
  text-align: center;
  padding-bottom: 8rem;
}
body .cart {
  background-image: url("pexels-photo-959079.jpeg");

}