<%= render partial: "/layouts/flash_errs" %>
<main class="main-container">
  <section class="products">
    <h2 class="products"><%= @category.category.pluralize %></h2>
    <%= render partial: "productslist", locals: { } %>
  </section>
</main>
